@import "../../abstracts/variable";
@import "../../mixin";

.todo-app {
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 3em;
  }

  .todo-list {
    color: #000000;
    width: 400px;

    .todo-item {
      display: flex;
      margin-bottom: $large_margin;
      padding: $small_padding;
      flex-direction: column;
      background-color: $todo_background_colour;
      border-radius: 5px;
      box-shadow: $box_shadow;

      &.add-item {
        .item-header {
          border-bottom: none;
        }

        form {
          display: flex;
          flex-direction: column;
          padding: $small_padding;
        }
      }

      .item-header {
        display: flex;
        flex-direction: row;
        margin-bottom: $small_margin;
        padding: $small_padding;
        border-bottom: 1px solid $border_colour;

        &.add-expanded {

        }

        &.add-unexpanded {
          flex-direction: column;
        }

        .item-title {
          flex: 1;
          word-break: break-word;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        .item-priority {
        }

        .item-complete {
        }
      }

      .item-body {
        padding: $small_padding;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        .item-description, .item-title, .item-priority {
          word-break: break-word;
        }

        .body-unexpanded {
          display: flex;

          .item-description {
            flex: 1;
          }

          .expand-indicator {
            &:hover {
              transform: rotate(180deg);
            }
          }
        }

        &.expanded {
          white-space: normal;
          overflow: visible;

          .body-expanded {
            display: flex;
            flex-direction: column;

            .button-group {
              display: flex;
              justify-content: space-between;

              .expand-indicator {
                padding: 0.6em;
                margin: 1em 0;
              }


              &:hover {
                .expand-indicator {
                  transform: rotate(180deg);
                }
              }

              .delete-todo {
                @include buttonStyle($error_color)
              }
            }

          }

        }
      }

      &:hover {
        box-shadow: $hover_box_shadow;
        cursor: pointer;
      }
    }
  }
}