/// Fonts
$font_default: "Source Sans Pro","Segoe UI", sans-serif;

/// Colours
$border_colour: rgb(51, 51, 51);
$todo_background_colour: rgb(245, 245, 245);

/// Shadow
$box_shadow: 10px 10px 10px -7px rgba(0,0,0,0.33);
$hover_box_shadow: 15px 15px 15px -7px rgba(0,0,0,0.66);