@import "../abstracts/variable";
@import "../mixin";

html, body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

body {
  color: #ffffff;
  font-family: $font_default;
  background-color: $background_primary;
}

button {
  @include buttonStyle($background_primary)
}

input, select {
  margin-bottom: $small_margin;
  padding: $small_padding;
}


h1 {
  text-align: center;
}

.error {
  text-align: center;
  color: red;
}