@import "../abstracts/variable";

html, body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

body {
  color: #ffffff;
  font-family: $font_default;
  background-color: $background_primary;
}

button {
  background-color: whitesmoke;
  border: 3px solid $background_primary;
  border-radius: 3px;
  cursor: pointer;
  &:hover {
    box-shadow: $box_shadow;
  }
}

input, select, button {
  margin-bottom: 0.6em;
  padding: 0.6em;
}


h1 {
  text-align: center;
}

.error {
  text-align: center;
  color: red;
}